<!-- views/about.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <!-- Additional styles or CSS can be included here -->
  </head>
  <body class="bg-gray-100">
    <nav class="flex bg-white gap-2 p-4 border-b-2">
      <div class="p-2 hover:bg-blue-100">
        <a class="hover:underline" href="/">Home</a>
      </div>
      <div class="p-2 hover:bg-blue-100">
        <a class="hover:underline" href="/api/about">About</a>
      </div>
      <div class="p-2 hover:bg-blue-100">
        <a class="hover:underline" href="https://github.com/lakshaykamat"
          >Github</a
        >
      </div>
    </nav>
    <div class="container mx-auto py-8 px-4">
      <h1 class="text-3xl sm:text-4xl font-bold mb-4 text-center">About Us</h1>
      <div class="bg-white rounded-lg shadow-md p-6">
        <p class="text-lg mb-4">
          Welcome to our URL Shortener application! This page provides
          information about our project.
        </p>
        <p class="text-sm text-gray-600 mb-2">Created on July 4, 2024</p>
        <p class="text-sm text-gray-600 mb-2">Maintained By Lakshay Kamat</p>
        <p class="text-sm text-gray-600 mb-2">Made with love ❤️</p>
      </div>
    </div>
  </body>
</html>
